body {
  margin-bottom: 24px;
}

label {
  margin-right: 3px;
}

div[style*="background: rgba(240, 240, 240, 0.9);"] {
  display: none !important;
}

div[class*="panel-collapse collapse in"] {
  display: block !important;
}